div.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -15px;
}

div.row div.item {
    width: 60px;
    margin: 0 15px 30px;
    height: 60px;
    border: 2px solid #000;
}

div.row button {
    width: 100px;
    height: 30px;
    margin: 0 15px 30px;
}

